/* @media (max-width: 768px) {
  .navbar .collapse .nav-item {
    width: 100%;
    text-align: center;
    margin-bottom: 10px;
  }

  .navbar .collapse .navbar-nav {
    flex-direction: column;
  }
} */
